body{
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}
.square{
    background: #232323;
    padding-bottom: 30%;
    float: left;
    width: 30%;
    margin: 1.6%;
    border-radius: 15%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}
#container{
    margin: 20px auto;
    max-width: 700px;

}
#displayColor{
    font-size: 180%;
}
h1{
    color: white;
    background: steelblue;
    margin: 0;
    text-align: center;
    font-weight: normal;
    padding: 1% 0;
    line-height: 1.1;
    text-transform: uppercase;
}
#stripe{
    background: white;
    height: 30px;
    text-align: center;
    color: black;
}
.selected{
    color: white;
    background: steelblue;
}
button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all .50s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    outline: none;
}
#message{
    display: inline-block;
    width: 23%;
    font-weight: 700;
    border: none;
    background: none;
    text-transform: uppercase;
    color: steelblue;
}
button:hover{
    color: white;
    background: steelblue;
}